/* reviews */
.reviews{
  margin-bottom: 78px;
}
/* rate */
.rate{
  margin-bottom: 80px;
}
/* maintenance */
.maintenance{
  margin: 0 auto;
  padding-left: 95px;
  max-width: 1392px;
  display: flex;
  gap: 4.625rem;
  margin-bottom: 80px;
  border-radius: var(--border-16);
  background-color: var(--color-primary);
  color:var(--color-text-sec);
}
/* mobile */
.mobile{
  margin-bottom: 120px;
}
.mobile__text{
  padding: 24px 0 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  opacity: 0.5;
  text-align: center;
  color: var(--color-text);
}
.mobile__picture{
  background-image: url("../image/Group\ 203.png");
  width: 1128px;
  height: 749px;
}
@media (max-width:1200px) {
  .maintenance{
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
    border-radius: 0;
  }
  .mobile__picture{
    width: 677px;
    height: 450px;
    background-size: contain;
    margin: 0 auto;
  }
  .mobile{
    overflow: hidden;
  }
}
@media (max-width:600px) {
.rate{
  margin-bottom: 64px;
}
.maintenance{
  margin-bottom: 48px;
  border-radius: 0;
  gap: 32px;
  height: 813px;
}

.mobile__h2{
  font-size: 36px;
  text-align: start
}
.mobile__text{
  text-align: start;
}
}