.rate__card{
  box-shadow: 0px 0px 32px 0px #4E5D7C29;
  border-radius:var(--border-8);
  padding: 48px 40px ;
}
.card__h3{
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
}
.headling__text{
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  opacity: 0.5;
}
.card__headling{
  display: grid;
  gap: 16px;
}

.headling__banner span{
  font-weight: 800;
}
.headling__banner{
  background-color: var(--color-secondary);
  color: var(--color-text-sec);
  padding: 4px 16px;
  width: max-content;
  border-radius: var(--border-8);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
}


.card__main{
  font-weight:500 ;
  font-size: 17px;
  line-height: 120%;
  color: var(--color-text);
  display: grid;
  height: 126px;
  margin: 50px 0 40px;
}
.card__main-margin{
  margin-top: 27px;
  margin-bottom: 40px;
}

.main__item{
  display: grid;
  grid-template-columns: 65% 35%; 

}
.item__accent{
  padding: 8px 16px;
  background-color: #FFC736;
  width: fit-content;
  border-radius: 8px;
  font-weight: 700;
  font-size: 17px;
  line-height: 120%;
  height: max-content;
  margin-left: -18px;
}
.item-align-centr{
  align-items: center;
  border-top: 1px solid #4E5D7C14;
  border-bottom: 1px solid #4E5D7C14;
}

.item-aling-end{
  align-items: end;
}

.card__button{
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-47);
  padding: 12px;
  text-align: center;
  width: 100%;
  cursor: pointer;
  font-size: 17px;
  line-height: 140%;
  font-weight: 800;
  font-family: 'Inter';
  color: var(--color-text-sec);
}

.main__item li {
  text-wrap: nowrap;
}

.rate__card:hover{
  background-color: var(--color-primary);
  color: var(--color-text-sec);
  transition: 1s;
}
.rate__card:hover .card__main{
  transition: 1s;
  color: var(--color-text-sec);
}
.rate__card:hover .card__button{
  transition: 1s;
  background-color: var(--color-text-sec);
}
.rate__card:hover .card__button a{
  transition: 1s;
  color: var(--color-primary);
}
.rate__h2{
  margin-bottom: 24px;
}
.rate__text{
  margin-bottom: 40px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  color: var(--color-text);
}
.rate__cards{
  display: grid;
  grid-template-columns:  repeat( auto-fit ,minmax(328px, 369px));
  gap: 24px;
  justify-content: center;
}

.banner-hidden{
  visibility: hidden;
}

@media (max-width:600px) {
  .rate__card{
    padding: 48px 24px;
  }
  .card__main{
    margin: 32px 0 32px;
  
  } 
.rate__h2{
  font-size: 36px;
  text-align: start;
}
.rate__text{
  margin-bottom: 32px;
  text-align: start;
}
.banner-hidden{
  display: none;
} 
}