
.reviews__h2{
  margin-bottom: 40px;
}
.reviews__comment{
  background-color: var(--color-primary);
  border-radius: var( --border-8);

  display: flex;
  height: 438px;
  overflow: hidden;
  position: relative;
}
.comment__text{
  padding-left: 104px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  width: 50%;
}
.comment__text>p{
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  color: var(--color-text-sec);
  width: 450px;
}
.comment__author>p:first-child{
  font-size: 17px;
  font-weight:500;
  line-height: 140%;
  color: var(--color-text-sec);
}
.comment__author>p:last-child{
  font-size: 17px;
  font-weight: 500;
  line-height: 140%;
  color: var(--color-text-sec);
}
.comment__avatar{
  width: 50%; 
  background: url("../image/image49.jpg") left no-repeat;
}
.arrow__left{
  top: 197px;
  left: 24px;

}
.arrow__right{
  top: 197px;
  right: 24px;
}
.reviews__arrow{
  width: 40px;
  height: 40px;
  background-color: var(--color-text-sec);
  border-radius: var(--border-50);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;
  border: none;
  opacity: 0.32;
  box-shadow: 0px 0px 32px 0px #4E5D7C52;

}
.reviews__arrow:enabled:hover{
  opacity: 1;
  transition: 1s;
}
.reviews__slider{
  display: none;
}
@media (max-width:1200px) {
  .reviews__comment{
    height: 876px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .comment__avatar{
    margin-top: 50px;
    height: 50%;
    width: 600px;
    background-position: center;
    background-size:cover;
    border-radius:var(--border-8);
  }
  .comment__text{
    height: 50%;
    width: fit-content;
  }


  .reviews__arrow{
    top: 58%;
  }
}
@media (max-width:600px) {
  .reviews__h2 {
    margin-bottom: 32px;
    font-size: 36px;
  }
  .reviews__arrow{
    display: none;
  }
  .reviews__comment{
    justify-content: flex-end;
    height: 609px;
    gap: 48px
  }
  .comment__avatar{
    width: 100%;
    height: 364px;
    margin: 0;
  }
 
  .comment__text{
    padding-left: 24px;
    gap: 24px;
    padding-left: 24px;
    justify-content: flex-start;
  }
  .comment__text>p{
    width: 100%;
    font-size: 24px;
  }
  .reviews__slider{
    display: flex;
    gap: 8px;
    margin-bottom: 48px;
  }
  .slider__item{
    width: 8px;
    height: 8px;
    border-radius: var(--border-50);
    background-color: var(--color-text-sec);
    opacity: 0.5;
  }
  .slider__item-active{
    opacity: 1;
  }
}