*{
  box-sizing: border-box;
  margin: 0 ;
}
body {
  background: linear-gradient(0deg, #F39494, #F39494),
  linear-gradient(243.43deg, #FFA5A5 32.96%, rgba(255, 255, 255, 0) 82.03%),
  linear-gradient(243.18deg, #FDC5C5 25.45%, rgba(242, 152, 222, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1024px;
  width: 1440px;
}
h1{
  font-family: openSansBold;
  font-weight: 700;
  font-size: 36px;
  margin-top: 70px;
  line-height: 54px;
  padding-right: 13px;
}
.login {
  font-family: openSansReg;
  font-weight: 400;
  color: #666666;
  font-size: 18px;
  width: 237px;
  gap: 16px;
  display: flex;
  margin-top: 2px;
}
.login >a {
  color: #089FE0;
  text-decoration: 1px underline;
}
.nameCompany{
  border-radius: 5px;
  border: 1px solid #F5F5F5;

}
.nameCompany::placeholder  {
  color: #333333;
  font-size: 16px;
  font-family: openSansSemiBold;
  font-weight: 600;
}
.nameInput>input::placeholder,
.email::placeholder{
  font-family: openSansItalic;
  font-weight: 400;
  font-style: italic;
  color: #999999;
  font-size: 16px;
}
.nameInput>input,.email{
  background-color: #F5F5F5;
  border:1px #F5F5F5;
}
.firstName {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.lastName{
  border-radius: 0px 5px 5px 0px;
}
.email {
  border-radius: 5px;
}
button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 61px;
  padding-right: 22px;
  background-color: #089FE0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-family: openSansReg;
  font-weight: 400;
  color: #FFFFFF;
}
.form{
  background-color: #FFFEFE;
  width: 582px;
  height: 573px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 4px 0px #00000040;

}
.terms {
color: #089FE0;
text-decoration: none;
}
.textAgree{
  font-family: openSansReg;
  font-weight: 400;
  color: #666666;
  font-size: 14px;
}
.inputs>:nth-child(-n+4){
  width: 394px;
  height: 44px;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 49px;
}
.inputs input{
  padding-left: 11px;
}
.nameInput{
  display: flex;
  gap: 1px;
}
.firstName,
.lastName{
  flex-grow: 1;
}

@font-face {
  font-family: openSansReg;
  font-weight: 400;
  src: url("./fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: openSansBold;
  font-weight: 700;
  src: url("./fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: openSansSemiBold;
  font-weight: 600;
  src: url("./fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: openSansItalic;
  font-weight: 400;
  src: url("./fonts/OpenSans-Italic.ttf");
}